<h2>Reset Password</h2>

<form method="post">
  {% csrf_token %}

  {% if email %}
      <p>Email: <b>{{ email }}</b></p>
      <input type="hidden" name="email" value="{{ email }}">
  {% else %}
      <input type="email" name="email" placeholder="Enter your email">
  {% endif %}

  <button type="submit" name="action" value="send_otp">Send OTP</button>

  <br><br>

  <input type="text" name="otp" placeholder="Enter OTP"><br><br>
  <input type="password" name="password" placeholder="New Password"><br><br>

  <button type="submit" name="action" value="reset">Reset Password</button>

  {% if msg %}
      <p style="color:green;">{{ msg }}</p>
  {% endif %}

  {% if error %}
      <p style="color:red;">{{ error }}</p>
  {% endif %}
</form>